span.row-1			{ background-color: #d8d8d8; color: #000000; }
span.row-2			{ background-color: #e8e8e8; color: #000000; }

div.project, div.category {
	border: 1px solid #000000;
	margin-bottom: 4px;
}
div.project {
}
div.category {
}
div.bug {
	margin-bottom: -5px;
}

div.content-list {
	margin-left: 20px;
}
a.subtle:link, a.subtle:visited {
	color: #000000;
	text-decoration: none;
}
a.subtle:hover, a.subtle:active {
	color: #999999;
	text-decoration: none;
}
a.invisible:link, a.invisible:visited, a.invisible:active {
	color: black;
	text-decoration: none;
}
a.invisible:hover {
	color: black;
	text-decoration: none;
}

span.progress-total-section {
	display: inline-block; 
	width: 100%;
}
span.progress-text-section {
	border-right: 2px solid #FFFFFF;
	display: inline-block; 
	width: 12%;
}
span.progress-bar-section {
	display: inline-block; 
	width: 87%;
	vertical-align: top;
}
div.resource-section {
	display: block; 
	width: 100%;
	vertical-align: top;
	padding: 0px;
	margin-bottom: 2px;
}
span.resource-name-section {
	display: inline-block; 
	min-width: 10%;
	border-right: 2px solid #FFFFFF;
}
span.resource-progress-section {
	display: inline-block; 
	width: 80%;
	vertical-align: top;
}

span.title-section {
	font-weight: bold;
	background: #c8c8e8;
}

span.category {
	background: #c8c8e8;
}

span.progress {
	display: inline-block;
	border: 1px solid #4D994D;
	background: #C8FFC8;
	height: 14px;
	vertical-align: top;
}
span.bar {
	display: inline-block; 
	background: #4D994D; 
	text-align: center;
	font-size: 8pt;
	color: #333; 
	height: 14px;
	vertical-align: top;
}