div.project, div.category {
	border-bottom-style:solid;
	border-width:3px;
}
div.project {
	border-color:#888888;
}
div.category {
	border-color:#CCCCCC;
}
div.bug {
	border:none;
}
div.content-list {
	margin-left:20px;
}