div.project, div.category {
	border-style: solid;
	border-width: 3px;
	margin-top: 4px;
}
div.project {
	border-color: #888888;
}
div.category {
	border-color: #CCCCCC;
}
div.bug {
	border: none;
}

span.project-title {
	font-weight: bold;
}
span.category-title {
	font-weight: bold;
}

div.content-list {
	margin-left: 20px;
}
a.subtle:link, a.subtle:visited {
	color: black;
	text-decoration: none;
}
a.subtle:hover, a.subtle:active {
	color: #999999;
	text-decoration: none;
}
a.invisible:link, a.invisible:visited {
	color: black;
	text-decoration: none;
}
a.invisible:hover, a.invisible:active {
	color: black;
	text-decoration: none;
}

span.progress-total-section {
	display: inline-block; 
	width: 100%;
}
span.progress-title-section {
	display: inline-block; 
	width: 12%;
}
span.progress-bar-section {
	width: 86%;
	vertical-align: middle;
	position: absolute;
}

span.progress {
	display: inline-block;
	border: 1px solid #4D994D; 
	background: #C8FFC8; 
	padding: 0px;
}
span.bar {
	display: inline-block; 
	position: relative; 
	background: #4D994D; 
	text-align: center; 
	font-weight: normal; 
	color: #333; 
	height: 1.2em; 
	line-height: 1.2em; 
}